/* Result page styling */

.result header {
  font-size: var(--type-secondary-heading);
  color: var(--secondary-dark);
  margin-bottom: 1.5rem;
  text-align: center;
}

.result header span {
  color: var(--accent-teal);
}

.result section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  font-size: var(--type-body-big);
  color: var(--secondary-light);
  margin-bottom: 2rem;
}

.result section span {
  color: var(--accent-teal);
  font-size: var(--type-secondary-heading);
}
/* Footer styling */

.quizFooter {
  display: flex;
  justify-content: flex-end;
}

.quizFooter button {
  background-color: var(--accent-coral);
  border: none;
  border-radius: 8px;
  color: var(--primary-light);
  padding: 0.5rem 1rem;
  font-size: var(--type-body-big);
  cursor: pointer;
  margin: auto;
  margin-bottom: 2rem;
}

.quizFooter button:disabled {
  background-color: var(--primary-dark);
  cursor: not-allowed;
}

/* Result.module.css */
.leaderboard {
  border-top: 2px var(--accent-coral) solid;
  padding-top: 1.5rem;
}

.h1 {
  font-size: var(--type-secondary-heading);
}

.podium {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
  align-items: end;
  height: 200px;
  width: 100%;
}

.podiumItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.podiumRank {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 40px;
  height: 40px;
  background-color: var(--accent-coral);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--secondary-dark);
  font-weight: bold;
  font-size: var(--type-body-big);
}

.podiumItem:nth-of-type(1) {
  height: 220px;
  background-color: var(--accent-teal);
}
.podiumItem:nth-of-type(2) {
  height: 150px;
  background-color: rgba(67, 181, 191, 0.6);
  order: -1;
}

.podiumItem:nth-of-type(3) {
  height: 120px;
  background-color: rgba(67, 181, 191, 0.3);
}

.podiumItem h2 {
  font-size: var(--type-body-big);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;

  color: var(--secondary-dark);
}

.podiumItem points {
  font-size: var(--type-body-big);
  font-weight: bold;
  color: var(--secondary-light);
}

.leaderboardTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px var(--accent-coral) solid;
}

.leaderboardTable th,
.leaderboardTable td {
  padding: 0.5rem;
  text-align: center;
}

.leaderboardTable td {
  color: var(--secondary-light);
}

.leaderboardTable th {
  background-color: var(--accent-coral);
  color: var(--primary-light);
}

.leaderboardTable td:first-child {
  font-weight: bold;
}

.leaderboardTable tbody tr:nth-child(even) {
  background-color: var(--primary-dark);
}

.leaderboardTable tbody tr:hover {
  background-color: rgba(255, 111, 97, 0.4);
}
